@model WebApplication9.Models.Runner

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Runner</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mileage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mileage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfTraining)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfTraining)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RunnerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
